/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700); */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
	font-family: "Material Icons", serif;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
}

/* VARIABLES */

:root {
	--main-color: #db762e;
	--light-main: #ff7400;
	--text-color: #393939;
	--text-color-light: #a5a5a5;
	--border-color: rgba(0, 0, 0, 0.13);
	--bg-color: #c9c6c6;
	--neutral-color: #f3f3f3b7;
}

/* GENERAL */
/* div.App {
	padding-right: 62px;
} */

div.sc-bZQynM.kongkz {
	max-width: 90%;
	padding-right: 62px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5;
	color: var(--text-color);
	background: var(--bg-color);
	position: relative;

}

header {
	display: block;
	width: 100%;
	padding: 1.75em 0;
	border-bottom: 1px solid var(--border-color);
	background: var(--neutral-color);
}

header #logo {
	font-size: 175%;
	text-align: center;
	color: var(--main-color);
	line-height: 1;
}

header #logo .icon {
	padding-right: 0.25em;
}

main {
	display: block;
	margin: 0 auto;
	margin-top: 5em;
	max-width: 100%;



}

/* GRID */

.row {
	margin: 0px !important;
	padding: 0px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.row-middle {
	align-items: center;
}

.col {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
}

.col-start {
	justify-content: flex-start;
	text-align: left;
}

.col-center {
	justify-content: center;
	text-align: center;
}

.col-end {
	justify-content: flex-end;
	text-align: right;

}

/* Calendar */

.calendar {
	display: block;
	position: relative;
	width: 100%;
	background: var(--neutral-color);
	border: 1px solid var(--border-color);
	margin: 40px;
	border-radius: 4px;
	box-shadow: 0px 0px 1px black;

}

@media (max-width: 600px) {
	div.sc-bZQynM.kongkz {
		padding-right: 0;
	}

	.calendar {
		display: none;

	}
}

.calendar .header {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 115%;
	padding: 1.5em 0;
	border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
	cursor: pointer;
	transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
	transform: scale(1.75);
	transition: 0.25s ease-out;
	color: var(--main-color);
}

.calendar .header .icon:first-of-type {
	margin-left: 1em;
}

.calendar .header .icon:last-of-type {
	margin-right: 1em;
}

.calendar .days {
	text-transform: uppercase;
	font-weight: 400;
	color: var(--text-color);
	font-size: 70%;
	padding: 0.75em 0;
	border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
	position: relative;
	height: 5em;
	border-right: 1px solid var(--border-color);
	overflow: hidden;
	cursor: pointer;
	background: var(--neutral-color);
	transition: 0.25s ease-out;
	padding: 4px;
	padding-top: 18px;
}

.calendar .body .cell:hover {
	background: #fff;
	transition: 0.4s ease-out;
}

.calendar .body .cell:hover .number::after {
	width: 100%;
	background: var(--main-color);
}

.calendar .body .selected {
	position: relative;
	background: #fff;
	border-left: 4px solid var(--main-color);
	border-image-slice: 1;
}

.calendar .body .selected .number {
	position: relative;
}

.calendar .body .number::after {
	position: absolute;
	bottom: -4px;
	height: 2px;
	width: 0%;
	background: var(--main-color);
	left: 0;
	content: "";
	transition: 0.4s all;
}

.calendar .body .selected .number::after {
	width: 100%;
	background: var(--main-color);
}

.calendar .body .selected .number:hover::after {
	width: 100%;
	background: var(--main-color);
}

.calendar .body .row {
	border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
	border-bottom: none;
}

.calendar .body .cell:last-child {
	border-right: none;
}

.calendar .body .cell .number {
	position: absolute;
	font-size: 82.5%;
	line-height: 1;
	top: 0.4em;
	right: 0.4em;
	font-weight: 700;
}

.calendar .body .cell .light-text {
	position: absolute;
	font-weight: 400;
	font-size: 12px;
	opacity: 0.4;
	text-align: center;
	width: 100%;
	top: 0;
	left: 0;
}

.calendar .body .cell .content {
	font-size: 82.5%;
	width: 100%;
	line-height: 1;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.calendar .body .cell .content .schedule {
	background: var(--main-color);
	color: black;
	border-radius: 4px;
	width: 95%;
	padding: 2px;
}

.calendar .body .disabled {
	color: var(--text-color-light);
	pointer-events: none;
}

.calendar .body .cell .bg {
	font-weight: 700;
	line-height: 1;
	color: var(--main-color);
	opacity: 0;
	font-size: 8em;
	position: absolute;
	z-index: -1;
	top: -0.2em;
	right: -0.05em;
	transition: 0.25s ease-out;
	letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
	opacity: 0.05;
	transition: 0.5s ease-in;
}

.calendar .body .col {
	flex-grow: 0;
	flex-basis: calc(100% / 7);
	width: calc(100% / 7);
}